.root {
    max-width: 550px;
    margin: 200px auto;
    padding: 40px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: -1px 3px 19px 10px rgba(0, 0, 0, 0.11);
}

.list {
    background: #fff;
    border: 1px solid #767676;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: -1px 3px 19px -4px rgba(0, 0, 0, 0.18);
}

.loading {
    margin: 0 auto 20px;
    border: 3px solid #46a6ff;
    border-top-color: #1976d2;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.imgWrap {
    display: flex;
    margin-right: 10px;
    border-radius: 15px;
    overflow: hidden;
}

.imgWrap img {
    width: 60px;
}

